//Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//General
$background: rgb(12, 12, 12);
$standard-font: 'Roboto', sans-serif;
$standard-font-size: clamp(1.25rem, 2vw, 2rem);
$font-color: white;
$font-accent: magenta;

//Form
$input-background: rgb(32, 32, 32);
$input-width: clamp(200px, 20vw, 500px);

//CSS Reset
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background: $background;

    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        input{
            color: $font-color;
            font-size: $standard-font-size;
            background: $input-background;
            width: $input-width;
            border: none;
            padding: 10px;
            border-radius: .5rem;

            &:invalid{
                border: 1px solid red;
            }
            &:valid{
                border: 1px solid green;
            }
        }
        button{
            border-radius: 2rem;
            font-family: $standard-font;
            font-size: $standard-font-size;
            border: none;
            &:hover{
                cursor: pointer;
            }
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }
}