:root{
    --primary: rgb(43, 42, 42);
    --secondary: rgb(77, 77, 77);
    --accent: white;

}

*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}

.wrapper{
    display: flex;
}

.label{
    color: white;
    font-size: 1.2rem;
}

.label:hover{
    cursor: pointer;
}
