:root{
    --primary: rgb(43, 42, 42);
    --secondary: rgb(77, 77, 77);
    --accent: white;

}

*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background: var(--primary);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.form-wrapper{
    display: flex;
    flex-direction: row;
}

.label{
    color: white;
    font-size: 1.2rem;
}

.label:hover{
    cursor: pointer;
}

.button{
    background: grey;
    border-radius: .2rem;
    padding: .2rem;
    margin: 0 .5rem;
    box-shadow: inset 1px 1px white, 1px 1px black;
    font-size: 1rem;
}

.button:hover{
    background: lightgrey;
    cursor: pointer;
}

.display{
    font-size: 2rem;
    color: white;
}

.display-wrapper{
    display: flex;
    margin: 1rem 0;
}
